# 忽略所有子目录下的 Python 缓存文件夹（自动生成）
**/__pycache__/

# 忽略编辑器的临时文件（Emacs、Vim）
*~          # Emacs 临时备份文件
*.swp       # Vim 编辑中产生的 swap 文件
*.swo       # Vim 的另一个 swap 文件后缀

# 忽略训练权重
examples/transportPDE/best_models/*
examples/transportPDE/eval_logs/*
examples/transportPDE/logs/*
examples/transportPDE/tb/*

# 忽略vscode的历史文件
.history/

# .gitignore 使用方法
# 首先修改.gitignore 文件 （无论增加还是修改）
# 如果删除已经忽略的文件   这个必须要！！！！-
# git rm -r --cached _(文件名)_
# 如果添加忽略的文件夹
# git add -f _(文件名)_
# 提交更新
# git commit -m "备注的内容"
# 推送同步
# git push 